<mat-card>
  <mat-card-title>Cadastro Contato Cliente</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome"
              [(ngModel)]="cliente.nome" name="nome" maxlength="100" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Sobrenome"
              [(ngModel)]="cliente.sobrenome" name="sobrenome" maxlength="100" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="CPF"
              [(ngModel)]="cliente.cpf" name="cpf" id="cpf" maxlength="14" onkeyup="mascaraCPF()"
              mask="000.000.000-00" required>
            </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="email@dominio.com"
            [(ngModel)]="cliente.email" name="email" type="email" ngModel email="true" formControlName="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="CEP" class="Form-control" onChange
            [(ngModel)]="endereco.cep" name="cep" maxlength="9" mask="00000-000" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Logradouro"
            [(ngModel)]="endereco.logradouro" name="logradouro">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Bairro"
            [(ngModel)]="endereco.bairro" name="bairro">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cidade"
            [(ngModel)]="endereco.cidade" name="cidade" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="UF"
            [(ngModel)]="endereco.uf" name="uf" >
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Tipos de endereço</mat-label>
          <mat-select [(value)]="endereco.tipoEndereco" matInput required>
          <mat-option [value]="option.value" *ngFor="let option of types">{{ option.viewValue }}</mat-option>
          </mat-select>
      </mat-form-field>

  </form>
  <button mat-raised-button (click)="createContato()" color="primary">
      Salvar
  </button>


  <button mat-raised-button (click)="cancel()">
      Cancelar
  </button>
</mat-card>
